<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/CatFe.css" th:href="@{/css/CatFe.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="icon" type="image/ico" href="../static/favicon.ico" th:href="@{../static/favicon.ico}" />

    <link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/98f7f72313.js" crossorigin="anonymous"></script>
    <title>Cafe Public page | CatFe</title>
    <script>
    /*to prevent Firefox FOUC, this must be here*/
    let FF_FOUC_FIX;
  </script>
    <style>
   .checked {
    opacity: 100%;
   cursor: pointer;
   color: orange;
    }

    .unchecked {
    opacity: 100%;
    cursor: pointer;
    color: #d3d3d3;
    }

</style>
</head>
<body onload="profilePic()">
<div class="grid-container">


    <a th:href="@{/user-profile-page}" href="user-profile-page.html"><img src="../static/images/RegistrationLogo.svg" th:src="@{/images/RegistrationLogo.svg}" class="grid-item1"></a>



    <a th:href="@{/user-profile-page}"><img id="myPicture" class="grid-item5"></a>
    <h5 class="grid-item3" th:text= "'Hi ' + ${thisUser.username} + '!'">Hi {{username}}</h5>
    <h5 class="grid-item4"><a th:href="@{/user-logout}">Log Out</a></h5>
</div>
<div align="center">

    <p class="p-round" th:text= "${cafe.cafeName}">Welcome to Cat Cafe!  </p><th:block th:each="i : ${#numbers.sequence(1, 5)}">
    <span class="fa fa-star checked" th:if="${i} <= ${cafe.averageReview}"></span>
    <span class="fa fa-star" th:if="${i} > ${cafe.averageReview}"></span>
</th:block>


    <br>

</div>
<br>

<section>
    <div class="row">
        <div class="col">

            <div class="cafeInfo">

                <li class="list-group-item d-flex justify-content-between align-items-center">


                    <body1 th:text = "${cafe.cafeDescription}">Cafe Description</body1>


                    <body1 th:text = "'Rules: ' + ${cafe.cafeRules}">Cafe Rules</body1>


                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <body1 th:text = "'Admission Price: ' + ${cafe.admissionPrice}">Admission Price</body1>

                    <body1 th:text = "${cafe.phoneNum}">Phone Number</body1>


                    <body1 th:text = " ${cafe.streetAddress}">Street Address</body1>


                    <body1 th:text = " ${cafe.stateLocation}">State</body1>

                </li>

                <th:block th:if="${cafe.instaLink} != ''">
                    <a th:href="${cafe.instaLink}">
                        <img  src="../static/images/Instagram.svg" th:src="@{/images/Instagram.svg}" class="social">
                    </a>
                </th:block>

                <th:block th:if="${cafe.fbLink} != ''">
                    <a th:href="${cafe.fbLink}">
                        <img src="../static/images/facebook.svg" th:src="@{/images/facebook.svg}" class="social"></a>
                    </a>
                </th:block>

                <th:block th:if="${cafe.twitterLink} != ''">
                    <a th:href="${cafe.twitterLink}">
                        <img src="../static/images/twitter.svg" th:src="@{/images/twitter.svg}" class="social"></a>
                    </a>
                </th:block>
                <span>
                    <a th:href = "@{/add-fav-cafe/} + ${cafe.id}"><img type="image" value="Favorite"  src="../static/images/favActive.svg" th:src="@{/images/favActive.svg}" class="social"><body3>add to favorites</body3></a>
                </span>
                </li>

            </div>
        </div>
        <div class="col">
            <div class="row">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" th:each="pic: ${photos}" th:classappend ="${picStat.first} ? active : ''">
                            <img class="d-block mw-80 h-50" th:src="${pic}" height="600px">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br>
            </div>
        </div>
    </div>

    <br>
    <div class="addACat">


        <div>
            <p class="p-round">Adoptable Cats</p>
            <th:block th:each = "cat : ${myCats}">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img th:src = "@{/${cat.catPhotos}}" class="favoriteCatPhoto">
                    <body1 th:text = "'Name: ' + ${cat.catName}">Cat Name</body1>
                    <body1 th:text = "'Age: ' + ${cat.catAge}">Age</body1>
                    <body1 th:text = "'Breed: ' + ${cat.catBreed}">Breed</body1>
                    <body1 th:text = "'Gender: ' + ${cat.catGender}">Gender</body1>
                    <body1 th:text = "'Weight(Lbs.): ' + ${cat.catWeightLbs}">Weight</body1>
                    <body1 th:text = "'Height(Inches): ' + ${cat.catHeightInches}">Height</body1>
                    <body1 th:text = "'Bio: ' + ${cat.catDescription}">Bio</body1>
                    <a th:href = "@{/add-fav-cat/} + ${cat.id}"><img type="image" value="Favorite"  src="../static/images/favActive.svg" th:src="@{/images/favInActive.svg}" class="social"></a>
                </li>
            </th:block>
        </div>

    </div>

    <br>
    <div class="addACat">


        <div>
            <p class="p-round">Menu Items</p>

            <th:block th:each = "food : ${food}">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img th:src="@{/${food.photo}}" class="favoriteCatPhoto">
                    <body1 th:text = "'Food Name: ' + ${food.foodName}">Food Name</body1>
                    <body1 th:text = "'Food Description: ' + ${food.foodDescription}">Food Description</body1>
                    <body1 th:text = "'Food Price: $' + ${food.price}">Food Price</body1>
                    <body1 th:text = "'Category: ' + ${food.foodCategory.categories}">Category</body1>
                    <body1 th:text = "'Dietary Restriction: ' + ${food.foodDiet.dietaryRestrictions}">Dietary Restriction</body1>
                    <img src="../static/images/favInActive.svg" th:src="@{images/favInActive.svg}" class="social">
                </li>
            </th:block>
        </div>
        <br>
    </div>
    <br>
    <br>
    <div class="reviewInboxBorder">
        <div class="placeholderContainer">
            <h3 align="center">Reviews</h3>
            <form method="POST" th:action="@{/user-review}" th:object="${userReview}">
                <div class="stars">
                    <label>Rating: </label>
                    <br>
                    <span class="fa fa-star" id="star0" onmouseover="highlightCurrStar('star0')" onmouseout="unhighlightCurrStar('star0')" onclick="selectRating('star0')"></span>
                    <span class="fa fa-star" id="star1" onmouseover="highlightCurrStar('star1')" onmouseout="unhighlightCurrStar('star1')" onclick="selectRating('star1')"></span>
                    <span class="fa fa-star" id="star2" onmouseover="highlightCurrStar('star2')" onmouseout="unhighlightCurrStar('star2')" onclick="selectRating('star2')"></span>
                    <span class="fa fa-star" id="star3" onmouseover="highlightCurrStar('star3')" onmouseout="unhighlightCurrStar('star3')" onclick="selectRating('star3')"></span>
                    <span class="fa fa-star" id="star4" onmouseover="highlightCurrStar('star4')" onmouseout="unhighlightCurrStar('star4')" onclick="selectRating('star4')"></span>
                </div>
                <br>

                <div class="form-group">

                    <input type="hidden" class="form-control" id = "rating" th:field="${{userReview.userRating}}"/>

                </div>
                <div class="form-group">
                    <label> Title:
                        <input type="text" class="form-control" th:field="${{userReview.reviewTitle}}"/>
                    </label>

                </div>
                <div class="form-group">
                    <label> Review Text:
                        <textarea type="text" class="form-control" th:field="${{userReview.userReview}}" rows="5" cols="50"></textarea>
                    </label>

                </div>
                <br>
                <input type="hidden" name="currentCafe"  th:value="${{userReview.cafe}}" th:field="*{{cafe}}"/>
                <br>
                <input type="submit" value ="Submit Review"/>
            </form>


            <footer>
                <div>
                    <th:block th:each="review : ${reviews}">
                        <span style="font-weight:bold" th:text="${review.reviewTitle}"></span>
                        <div class="stars">
                            <label>Rating:</label>
                            <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                                <span class="fa fa-star checked" th:if="${i} <= ${review.userRating}"></span>
                                <span class="fa fa-star" th:if="${i} > ${review.userRating}"></span>
                            </th:block>

                        </div>

                        <span th:text="${review.userReview}"></span>
                        <span class="d-flex justify-content-end"></span>
                    </th:block>
                </div>
            </footer>
        </div>
    </div>
</section>
<script th:inline = "javascript">

    function profilePic() {
        var myPix = new Array([[@{/images/avatar1.svg}]], [[@{/images/avatar2.svg}]],[[@{/images/avatar3.svg}]],[[@{/images/avatar4.svg}]],
        [[@{/images/avatar5.svg}]],[[@{/images/avatar6.svg}]],[[@{/images/avatar6.svg}]],[[@{/images/avatar7.svg}]],[[@{/images/avatar8.svg}]],
        [[@{/images/avatar9.svg}]],[[@{/images/avatar10.svg}]],[[@{/images/avatar11.svg}]],[[@{/images/avatar12.svg}]],[[@{/images/avatar13.svg}]],
        [[@{/images/avatar14.svg}]],[[@{/images/avatar15.svg}]],[[@{/images/avatar16.svg}]],[[@{/images/avatar17.svg}]],[[@{/images/avatar18.svg}]],
        [[@{/images/avatar19.svg}]],[[@{/images/avatar20.svg}]]);
        var randomNum = Math.floor(Math.random() * myPix.length);
        let avatar = [[${thisUser.avatar}]]
        document.getElementById("myPicture").src = myPix[avatar];
        console.alert(myPix);
        }
        document.getElementByTagName(body).addEventListener("load", profilePic());
    </script>

<script type="text/javascript">
    var rating = 1

    function highlightCurrStar(star){
        var currStar = parseInt(star.replace("star", ""))
        if(rating > currStar){
            for(let i = 0; i < 5; i++){
                document.getElementById("star"+i.toString()).className = "fa fa-star"
            }
        }
        for(let i = 0; i <= currStar; i++){
            document.getElementById("star"+i.toString()).className += " checked"
        }
        setStarsAfterClicked()
    }

    function unhighlightCurrStar(star){
        for(let i = 0; i < 5; i++){
            document.getElementById("star"+i.toString()).className = "fa fa-star"
        }
        setStarsAfterClicked()
    }
    function selectRating(star){
        var currStar = parseInt(star.replace("star", ""))+1
        document.getElementById("rating").value = currStar
        rating = currStar
        setStarsAfterClicked()
    }

    function setStarsAfterClicked(){
        for(let i = 0; i < rating; i++){
            document.getElementById("star"+i.toString()).className += " checked"
        }
    }
</script>
</body>
</html>