<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<html>

<head>
    <meta charset="UTF-8"/>
    <script src="../static/javaScript/javaScript.js" href="../static/javaScript/javaScript.js" th:href="@{/javaScript/javaScript.js}"></script>
    <link rel="stylesheet" href="../static/css/CatFe.css" th:href="@{/css/CatFe.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="icon" type="image/ico" href="../static/favicon.ico" th:href="@{../static/favicon.ico}" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' >
    <title>Delete Cafe Profile | CatFe</title>
    <script>
    /*to prevent Firefox FOUC, this must be here*/
    let FF_FOUC_FIX;
  </script>
</head>
<body onload="profilePic()">

<div class="grid-container">

    <a th:href="@{cafe-profile-page}" href="cafe-profile-page.html"><img src="../static/images/RegistrationLogo.svg" th:src="@{images/RegistrationLogo.svg}" class="grid-item1"></a>


    <a th:href="@{cafe-profile-page}"><img id="myPicture" class="grid-item5"></a>


    <h5 class="grid-item3" th:text= "'Hi ' + ${cafeName} + '!'">Hi {{cafename}}</h5>
    <h5 class="grid-item4"><a th:href="@{/cafe-logout}">Log Out</a></h5>

</div>

<div class="centerReg">
    <H1 class="landingPageH1">Delete Cafe Account</H1>
    <h5>Are you sure? </h5> <h5>This account and cafe will no longer exist on the Catfe platform.</h5>
    <h5> Press Delete to confirm.</h5>

<a th:href="@{/cafe-profile-page}"><button class="button" align="center">Go Back To Profile</button></a>
<form method = "post">
    <a th:href="@{/cafe-delete}"><button class="button2">Delete Cafe</button></a>
</form>

</div>
<script th:inline = "javascript">

    function profilePic() {
        var myPix = new Array([[@{images/avatar1.svg}]], [[@{images/avatar2.svg}]],[[@{images/avatar3.svg}]],[[@{images/avatar4.svg}]],
        [[@{images/avatar5.svg}]],[[@{images/avatar6.svg}]],[[@{images/avatar6.svg}]],[[@{images/avatar7.svg}]],[[@{images/avatar8.svg}]],
        [[@{images/avatar9.svg}]],[[@{images/avatar10.svg}]],[[@{images/avatar11.svg}]],[[@{images/avatar12.svg}]],[[@{images/avatar13.svg}]],
        [[@{images/avatar14.svg}]],[[@{images/avatar15.svg}]],[[@{images/avatar16.svg}]],[[@{images/avatar17.svg}]],[[@{images/avatar18.svg}]],
        [[@{images/avatar19.svg}]],[[@{images/avatar20.svg}]]);
        var randomNum = Math.floor(Math.random() * myPix.length);
        let avatar = [[${thisCafe.avatar}]]
        document.getElementById("myPicture").src = myPix[avatar];
        console.alert(myPix);
        }
        document.getElementByTagName(body).addEventListener("load", profilePic());
    </script>
</body>
</html>